@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
// @import "@fontsource/zen-maru-gothic"; // Defaults to weight 400
// @import "@fontsource/zen-maru-gothic/700.css";

body {
  margin: 0;

  body {
    font-family: "strange";
    
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff
  
}
@font-face {
  font-family: 'wire-frame';
  src: url('./Fonts/R&C-Demo.otf') format('opentype');
  /* Add additional font styles here (font-weight, font-style, etc.) if needed */
}
@font-face {
  font-family: 'Achi';
  src: url('./Fonts/Archistico_Simple.ttf') format('opentype');
  /* Add additional font styles here (font-weight, font-style, etc.) if needed */
}
// @font-face {
//   font-family: 'strange';
//   src: url('./Fonts/strange-cool-demo/StrangeCoolDemoRegular.ttf') format('opentype');
//   /* Add additional font styles here (font-weight, font-style, etc.) if needed */
// }